# Insurance History EDA

In [111]:
#auto loading
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## ðŸ§± 1. Setup & Imports

In [112]:
import warnings
import os
from pathlib import Path
import pandas as pd
from dotenv import load_dotenv
from preprocessing.data_quality_utils import DataQualityUtils 
from utils.load_data import load_local_data
from utils.helpers import DataInspectionUtils

In [113]:
# Automatically go to project root (where .git or README.md is)
project_root = Path.cwd()
while not (project_root / "README.md").exists() and project_root != project_root.parent:
    project_root = project_root.parent

os.chdir(project_root)
print("Project root set to:", project_root)

Project root set to: /home/teshager/Documents/10Academy/repositories/projects/insurance-risk-modeling

In [114]:
#suppress warning errors
warnings.filterwarnings("ignore")
#load enviroment variables
load_dotenv()

True

### ðŸ“Œ Project Overview

## ðŸ“¦ 2. Data Loading & Overview  <a id= '2-data-loading--overview'></a>

In [115]:
# Load the insurance data
raw_data_dir= os.getenv("RAW_DATA")
df=pd.read_csv(raw_data_dir,delimiter = '|')
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

### Dataset Overview

In [116]:
#view sample data
df.sample(5)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
235612,148337,12600,2015-04-01 00:00:00,False,,Individual,Mr,English,First National Bank,Current account,...,No excess,Accidental Death,Accidental Death,Accidental Death,Optional Extended Covers,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,43.859649,0.0
923743,226322,20604,2015-07-01 00:00:00,False,ZA,Individual,Mr,English,Standard Bank,Current account,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.578246,0.0
317406,126283,10769,2015-03-01 00:00:00,False,,Individual,Mr,English,First National Bank,Current account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,241.947895,0.0
271075,135819,11631,2015-03-01 00:00:00,False,,Individual,Mr,English,First National Bank,Current account,...,Mobility - Taxi with value more than R100 000 ...,Own Damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,706.123509,0.0
171076,126183,10759,2015-08-01 00:00:00,False,,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [117]:
#see the last rows
df.tail()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
1000093,31520,389,2015-04-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000094,31520,389,2015-06-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000095,31520,389,2015-08-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000096,31519,389,2014-07-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315000,0.0
1000097,31519,389,2015-02-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315000,0.0

In [118]:
#shape of the dataset
df.shape

(1000098, 52)

In [119]:
df.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [120]:
di=DataInspectionUtils()

### Look into distinct values from each column

In [121]:
#list out distinct values from each column
di.display_column_uniques(df)

[2025-06-11 21:02:59,488] INFO - Computing unique values for each column...
INFO:utils.helpers:Computing unique values for each column...

[2025-06-11 21:03:01,904] INFO - Unique values displayed successfully.
INFO:utils.helpers:Unique values displayed successfully.

<div style="border-radius:10px; border:orange solid; padding: 15px; font-size:100%; text-align:left; font-color:#325939;background-color:#2c2c2c">
<h3 align="left"><font color='orange'>ðŸ’¡ Observations:</font></h3>

* Columns that only have only one unique value offer no analytical / predictive value hence need to be removed
</div>

In [122]:
di.get_constant_columns(df)

[2025-06-11 21:03:01,927] INFO - Checking for columns with only one unique value...
INFO:utils.helpers:Checking for columns with only one unique value...
[2025-06-11 21:03:03,357] INFO - Found 6 constant columns.
INFO:utils.helpers:Found 6 constant columns.

## ðŸ“ 3. Data Types & Basic Stats <a id='3-data-types--basic-stats'></a>

In [123]:
#Numerical Columns
df.describe().T

,count,mean,std,min,25%,50%,75%,max
UnderwrittenCoverID,1000098.0,1.048175e+05,6.329371e+04,1.000000e+00,5.514300e+04,9.408300e+04,1.391900e+05,3.011750e+05
PolicyID,1000098.0,7.956682e+03,5.290039e+03,1.400000e+01,4.500000e+03,7.071000e+03,1.107700e+04,2.324600e+04
PostalCode,1000098.0,3.020601e+03,2.649854e+03,1.000000e+00,8.270000e+02,2.000000e+03,4.180000e+03,9.870000e+03
mmcode,999546.0,5.487770e+07,1.360381e+07,4.041200e+06,6.005692e+07,6.005842e+07,6.005842e+07,6.506535e+07
RegistrationYear,1000098.0,2.010225e+03,3.261391e+00,1.987000e+03,2.008000e+03,2.011000e+03,2.013000e+03,2.015000e+03
Cylinders,999546.0,4.046642e+00,2.940201e-01,0.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,1.000000e+01
cubiccapacity,999546.0,2.466743e+03,4.428006e+02,0.000000e+00,2.237000e+03,2.694000e+03,2.694000e+03,1.288000e+04
kilowatts,999546.0,9.720792e+01,1.939326e+01,0.000000e+00,7.500000e+01,1.110000e+02,1.110000e+02,3.090000e+02
NumberOfDoors,999546.0,4.019250e+00,4.683144e-01,0.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.000000e+00
CustomValueEstimate,220456.0,2.255311e+05,5.645157e+05,2.000000e+04,1.350000e+05,2.200000e+05,2.800000e+05,2.655000e+07
NumberOfVehiclesInFleet,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SumInsured,1000098.0,6.041727e+05,1.508332e+06,1.000000e-02,5.000000e+03,7.500000e+03,2.500000e+05,1.263620e+07
CalculatedPremiumPerTerm,1000098.0,1.178757e+02,3.997017e+02,0.000000e+00,3.224800e+00,8.436900e+00,9.000000e+01,7.442217e+04
TotalPremium,1000098.0,6.190550e+01,2.302845e+02,-7.825768e+02,0.000000e+00,2.178333e+00,2.192982e+01,6.528260e+04
TotalClaims,1000098.0,6.486119e+01,2.384075e+03,-1.200241e+04,0.000000e+00,0.000000e+00,0.000000e+00,3.930921e+05

In [124]:
#for columns of object type
df.describe(include=['O']).T

,count,unique,top,freq
TransactionMonth,1000098,23,2015-08-01 00:00:00,106747
Citizenship,1000098,4,,895210
LegalType,1000098,6,Individual,911929
Title,1000098,5,Mr,933555
Language,1000098,1,English,1000098
Bank,854137,11,First National Bank,260811
AccountType,959866,3,Current account,597938
MaritalStatus,991839,3,Not specified,986208
Gender,990562,3,Not specified,940990
Country,1000098,1,South Africa,1000098
Province,1000098,9,Gauteng,393865
MainCrestaZone,1000098,16,Transvaal (all except Pretoria),296187
SubCrestaZone,1000098,45,Johannesburg,176020
ItemType,1000098,1,Mobility - Motor,1000098
VehicleType,999546,5,Passenger Vehicle,933598
make,999546,46,TOYOTA,813280
Model,999546,411,QUANTUM 2.7 SESFIKILE 16s,186087
bodytype,999546,13,B/S,844400
VehicleIntroDate,999546,174,4/2012,287638
AlarmImmobiliser,1000098,2,Yes,999861
TrackingDevice,1000098,2,No,656617
CapitalOutstanding,1000096,1011,0,665918
NewVehicle,846803,2,More than 6 months,845223
WrittenOff,358197,2,No,358165
Rebuilt,358197,2,No,358165
Converted,358197,2,No,358110
CrossBorder,698,1,No,698
TermFrequency,1000098,2,Monthly,999554
ExcessSelected,1000098,13,No excess,791235
CoverCategory,1000098,28,Passenger Liability,104158
CoverType,1000098,22,Own Damage,104183
CoverGroup,1000098,14,Comprehensive - Taxi,824124
Section,1000098,5,Motor Comprehensive,828125
Product,1000098,4,Mobility Commercial Cover: Monthly,915028
StatutoryClass,1000098,1,Commercial,1000098
StatutoryRiskType,1000098,1,IFRS Constant,1000098

In [125]:
# data types of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

In [126]:
#distinct values in each column
df.nunique().sort_values(ascending=False)

UnderwrittenCoverID         116532
TotalPremium                 38959
CalculatedPremiumPerTerm     19869
PolicyID                      7000
SumInsured                    2186
TotalClaims                   1615
CapitalOutstanding            1011
CustomValueEstimate            923
PostalCode                     888
mmcode                         427
Model                          411
VehicleIntroDate               174
cubiccapacity                  122
kilowatts                       82
make                            46
SubCrestaZone                   45
CoverCategory                   28
RegistrationYear                25
TransactionMonth                23
CoverType                       22
MainCrestaZone                  16
CoverGroup                      14
ExcessSelected                  13
bodytype                        13
Bank                            11
Province                         9
Cylinders                        7
LegalType                        6
NumberOfDoors                    6
Section                          5
VehicleType                      5
Title                            5
Citizenship                      4
Product                          4
Gender                           3
MaritalStatus                    3
AccountType                      3
TrackingDevice                   2
WrittenOff                       2
Rebuilt                          2
Converted                        2
AlarmImmobiliser                 2
TermFrequency                    2
IsVATRegistered                  2
NewVehicle                       2
StatutoryClass                   1
ItemType                         1
StatutoryRiskType                1
Country                          1
Language                         1
CrossBorder                      1
NumberOfVehiclesInFleet          0
dtype: int64

## ðŸ” 4. Data Quality Analysis <a id='4-data-quality-analysis'></a>

In [127]:
#instantiate the DataQualityUtils class
dq=DataQualityUtils(df)

In [128]:
#count of missing values per column
dq.summary()

                          #missing_values percentage
NumberOfVehiclesInFleet           1000098    100.00%
CrossBorder                        999400     99.93%
CustomValueEstimate                779642     77.96%
Rebuilt                            641901     64.18%
Converted                          641901     64.18%
WrittenOff                         641901     64.18%
NewVehicle                         153295     15.33%
Bank                               145961     14.59%
AccountType                         40232      4.02%
Gender                               9536      0.95%
MaritalStatus                        8259      0.83%
NumberOfDoors                         552      0.06%
VehicleType                           552      0.06%
kilowatts                             552      0.06%
cubiccapacity                         552      0.06%
Cylinders                             552      0.06%
Model                                 552      0.06%
make                                  552      0.06%
VehicleIntroDate                      552      0.06%
bodytype                              552      0.06%
mmcode                                552      0.06%
CapitalOutstanding                      2      0.00%
TermFrequency                           0      0.00%
CalculatedPremiumPerTerm                0      0.00%
ExcessSelected                          0      0.00%
CoverCategory                           0      0.00%
CoverType                               0      0.00%
CoverGroup                              0      0.00%
Section                                 0      0.00%
Product                                 0      0.00%
StatutoryClass                          0      0.00%
StatutoryRiskType                       0      0.00%
TotalPremium                            0      0.00%
SumInsured                              0      0.00%
UnderwrittenCoverID                     0      0.00%
TrackingDevice                          0      0.00%
Country                                 0      0.00%
TransactionMonth                        0      0.00%
IsVATRegistered                         0      0.00%
Citizenship                             0      0.00%
LegalType                               0      0.00%
Title                                   0      0.00%
Language                                0      0.00%
Province                                0      0.00%
AlarmImmobiliser                        0      0.00%
PostalCode                              0      0.00%
MainCrestaZone                          0      0.00%
SubCrestaZone                           0      0.00%
ItemType                                0      0.00%
RegistrationYear                        0      0.00%
PolicyID                                0      0.00%
TotalClaims                             0      0.00%

### Missing Values

In [129]:
#column with >5% nulls
dq.columns_with_significant_missing_values(threshold=5)

                         #missing_values percentage
NumberOfVehiclesInFleet          1000098    100.00%
CrossBorder                       999400     99.93%
CustomValueEstimate               779642     77.96%
WrittenOff                        641901     64.18%
Rebuilt                           641901     64.18%
Converted                         641901     64.18%
NewVehicle                        153295     15.33%
Bank                              145961     14.59%

<div style="border-radius:10px; border:orange solid; padding: 15px; font-size:100%; text-align:left; font-color:#325939;background-color:#2c2c2c">
<h3 align="left"><font color='orange'>ðŸ’¡ Observations:</font></h3>

* NumberOfVehiclesinFleet has 100% missing values hence can be safely removed, the others need closer investigation since there is a possibility they are left open because
  <br>they are presumed obvious.
</div>

### Duplicates

In [130]:
#count duplicates
dq.count_duplicates()

0

### Invalid Values

In [131]:
dq.find_invalid_values()

{'Citizenship': {'count': 895210,
  'examples': 0
  1
  2
  3
  4
  Name: Citizenship, dtype: object}}

In [132]:
df['Citizenship'].value_counts()

Citizenship
      895210
ZA    103721
ZW       936
AF       231
Name: count, dtype: int64

## ðŸ§¹ 5. Data Cleaning  <a id='5-data-cleaning'></a>

In [133]:
#saving the original dataset for later use
df_original=df.copy()

### Constant Columns

In [134]:
df=dq.drop_constant_columns(df)

[WARNING] [drop_constant_columns] Expected boolean for 'verbose', got <class 'pandas.core.frame.DataFrame'>. Defaulting to True.
WARNING:preprocessing.data_quality_utils:[drop_constant_columns] Expected boolean for 'verbose', got <class 'pandas.core.frame.DataFrame'>. Defaulting to True.

[INFO] Dropped constant columns: ['Language', 'Country', 'ItemType', 'NumberOfVehiclesInFleet', 'StatutoryClass', 'StatutoryRiskType']
INFO:preprocessing.data_quality_utils:Dropped constant columns: ['Language', 'Country', 'ItemType', 'NumberOfVehiclesInFleet', 'StatutoryClass', 'StatutoryRiskType']

In [135]:
df.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Bank',
       'AccountType', 'MaritalStatus', 'Gender', 'Province', 'PostalCode',
       'MainCrestaZone', 'SubCrestaZone', 'mmcode', 'VehicleType',
       'RegistrationYear', 'make', 'Model', 'Cylinders', 'cubiccapacity',
       'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate',
       'CustomValueEstimate', 'AlarmImmobiliser', 'TrackingDevice',
       'CapitalOutstanding', 'NewVehicle', 'WrittenOff', 'Rebuilt',
       'Converted', 'CrossBorder', 'SumInsured', 'TermFrequency',
       'CalculatedPremiumPerTerm', 'ExcessSelected', 'CoverCategory',
       'CoverType', 'CoverGroup', 'Section', 'Product', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

### Missing Values

Dealt by the constant column removal

### Inconsistencies and Inaccuracies

In [136]:
#drop redundancies and clean column names
df=dq.drop_redundant_columns()

In [137]:
df=dq.convert_columns_to_datetime()

[INFO] [VehicleIntroDate] Converted: 999546/999546 (0 became NaT)
INFO:preprocessing.data_quality_utils:[VehicleIntroDate] Converted: 999546/999546 (0 became NaT)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 46 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Bank                      854137 non-null   object
 8   AccountType               959866 non-null   object
 9   MaritalStatus             991839 non-null   object
 10  Gender                    990562 non-null   object
 11  Province                  1000098 non-null  object
 12  PostalCode                1000098 non-null  int64
 13  MainCrestaZone            1000098 non-null  object
 14  SubCrestaZone             1000098 non-null  object
 15  mmcode                    999546 non-null   float64
 16  VehicleType               999546 non-null   object
 17  RegistrationYear          1000098 non-null  int64
 18  make                      999546 non-null   object
 19  Model                     999546 non-null   object
 20  Cylinders                 999546 non-null   float64
 21  cubiccapacity             999546 non-null   float64
 22  kilowatts                 999546 non-null   float64
 23  bodytype                  999546 non-null   object
 24  NumberOfDoors             999546 non-null   float64
 25  VehicleIntroDate          999546 non-null   datetime64[ns, UTC]
 26  CustomValueEstimate       220456 non-null   float64
 27  AlarmImmobiliser          1000098 non-null  object
 28  TrackingDevice            1000098 non-null  object
 29  CapitalOutstanding        1000096 non-null  object
 30  NewVehicle                846803 non-null   object
 31  WrittenOff                358197 non-null   object
 32  Rebuilt                   358197 non-null   object
 33  Converted                 358197 non-null   object
 34  CrossBorder               698 non-null      object
 35  SumInsured                1000098 non-null  float64
 36  TermFrequency             1000098 non-null  object
 37  CalculatedPremiumPerTerm  1000098 non-null  float64
 38  ExcessSelected            1000098 non-null  object
 39  CoverCategory             1000098 non-null  object
 40  CoverType                 1000098 non-null  object
 41  CoverGroup                1000098 non-null  object
 42  Section                   1000098 non-null  object
 43  Product                   1000098 non-null  object
 44  TotalPremium              1000098 non-null  float64
 45  TotalClaims               1000098 non-null  float64
dtypes: bool(1), datetime64[ns, UTC](1), float64(10), int64(4), object(30)
memory usage: 344.3+ MB

In [139]:
df.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Bank',
       'AccountType', 'MaritalStatus', 'Gender', 'Province', 'PostalCode',
       'MainCrestaZone', 'SubCrestaZone', 'mmcode', 'VehicleType',
       'RegistrationYear', 'make', 'Model', 'Cylinders', 'cubiccapacity',
       'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate',
       'CustomValueEstimate', 'AlarmImmobiliser', 'TrackingDevice',
       'CapitalOutstanding', 'NewVehicle', 'WrittenOff', 'Rebuilt',
       'Converted', 'CrossBorder', 'SumInsured', 'TermFrequency',
       'CalculatedPremiumPerTerm', 'ExcessSelected', 'CoverCategory',
       'CoverType', 'CoverGroup', 'Section', 'Product', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [140]:
df.sample(5)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Bank,AccountType,MaritalStatus,...,TermFrequency,CalculatedPremiumPerTerm,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,TotalPremium,TotalClaims
846291,241070,11351,2015-02-01 00:00:00,False,ZA,Individual,Mr,NaN,NaN,Not specified,...,Monthly,5.2278,No excess,Keys and Alarms,Keys and Alarms,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,4.585789,0.0
556725,85696,6991,2015-08-01 00:00:00,False,,Individual,Mr,NaN,Current account,Not specified,...,Monthly,2.3018,No excess,Signage and Vehicle Wraps,Signage and Vehicle Wraps,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,0.000000,0.0
786997,54786,4685,2015-07-01 00:00:00,False,,Individual,Mr,Standard Bank,Savings account,Not specified,...,Monthly,1.3765,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,1.207456,0.0
322389,198790,4381,2015-04-01 00:00:00,False,,Individual,Mr,First National Bank,Current account,Not specified,...,Monthly,3.4903,No excess,Emergency Charges,Emergency Charges,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,3.061667,0.0
574602,54689,4527,2014-09-01 00:00:00,False,,Individual,Mr,NaN,Current account,Not specified,...,Monthly,1.5853,No excess,Signage and Vehicle Wraps,Signage and Vehicle Wraps,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,0.000000,0.0